<div class="container">
      
<%= flash_messages %>

<%= yield %>
</div><!-- /container -->


<div 
<input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >


</div>

    <div class="container">
      <h1> Modifie ton potin !</h1>
      <%= form_tag url_for(action: 'update'), method: "PATCH" do %>
        <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
        <br /> 
       
          <%= text_field_tag 'gossip_title' ,value= Gossip.find(params[:id]).title %>
          <%= label_tag 'Le titre' %>
    
        <br /> 
        
          <%= text_field_tag 'gossip_content', value= Gossip.find(params[:id]).content%>
          <%= label_tag 'Dis nous tout' %>
        
        <br /> <br />
        <%= submit_tag "Valider", class: 'btn btn-primary btn-lg btn-submit col-4'  %>
      <% end %>
    </div>
  </body>
</html>