


<p> <%= Gossip.find(@id).user.first_name %>  </p>
<br>
<%= link_to "Lien vers la fiche de l'auteur", author_path  %> <br>
<br>
<p> Le titre de ce gossip est : <%= Gossip.find(@id).title %> </p>
<br>
<p> Le contenu du gossip est : <%= Gossip.find(@id).content %> </p>
<br>
<p> Il a été créé le : <%= Gossip.find(@id).created_at %> </p>